<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #ff0000;
            margin-top: 50px;
        }

        button {
            background-color: #f5ba1a;
            color: #ffffff;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-decoration: none;
            margin-top: 20px;
        }

        button:hover 
        {
            background-color: #39c612;
            transform: translateY(-3px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add box shadow for a lifted appearance */
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Add transition for both transform and box shadow */
        }

        a {
            text-decoration: none;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>You are already registartion</h1>
    <a href="login"><button>Go to Login Page</button></a>
</body>
</html>
